extends baseEmail

block content
  p Hi #{fullName},
  p  Welcome to Docease, your healthcare companion for easy access to nearby hospitals and health facilities. Our mission is to simplify your healthcare experience.
  p  To start, click the button below to log in and explore:
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
    
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`https://docease.netlify.app/login`, target='_blank') Get Started
  p  We're here to support your health journey. Contact our customer support for assistance. 
  p  docease.app@gmail.com